body {
    background-color: #000;
}

h1 {
    color: #fff;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.sidebar__navigation {
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 0 12px 16px;
}

.sidebar__navigation .logo {
    background: #121212;
    display: flex;
    border-radius: 8px;
    padding: 0;
}

.sidebar__navigation .logo img {
    width: 80px;
}

.sidebar nav ul {
    margin-top: 20px;
    padding: 0 3px;
}

.sidebar ul li {
    padding: 10px 0;
}

.sidebar nav ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
}

.sidebar__navigation2 {
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 10px 16px 10px;
    margin-top: 12px;
    height: 260px;
}

.sidebar a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
}

.playlist {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    font-size: 13px;
    font-family: "DM Sans", sans-serif;
    background-color: #242424;
    border-radius: 8px;
    padding: 10px 0 0 16px;
    line-height: 25px;
    width: 95%;
    height: 110px;
}

.botao {
    border-radius: 15px;
    background-color: #fff;
    font-size: 13px;
    padding: 6px 8px 6px 8px;
    font-family: "DM Sans", sans-serif;
    color: #000;
}

#icone {
    font-size: 20px;
    margin-right: 10px;
}

.sidebar__navigation2 .biblioteca a svg {
    width: 16px;
    height: 16px;
    margin-left: 120px;
}

#livro {
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.biblioteca {
    margin-bottom: 20px;
}

#frase1 {
    font-size: 16px;
}

.criar_playlist {
    margin-top: 20px;
}

.cookies {
    padding-top: 30px;
    margin-left: 15px;
    font-size: 11px;
    color: #b3b3b3;
    text-decoration: none;
    font-size: 8px;
    font-family: "DM Sans", sans-serif;
    padding-bottom: 30px;
}

.idioma {
    color: #fff;
    border-radius: 15px;
    background-color: #121212;
    font-size: 13px;
    padding: 6px 8px 6px 0;
    font-family: "DM Sans", sans-serif;
    border-color: #b3b3b3;
    border-style: solid;
    border-width: 0.3px;
    width: 145px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-left: 8px;
}

.sidebar__navigation2 .idioma a svg {
    width: 18px;
    height: 18px;
    margin-left: 8px;
}
