/* HEADER */

.main-container {
    max-width: 80vw;
    height: 90vh;
    margin-left: 310px;
    margin-right: 0;
    margin-top: 12px;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 10px;
    border-radius: 8px;
    background-color: #121212;
}

.header__navigation .navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__navigation .navigation .arrow-left {
    margin-right: 1.25rem;

}

.arrow-left, .arrow-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: var(--bg-icon);
    background-color: var(--bg-arrow-color);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.header__login {
    display: flex;
    align-items: center;
}

.header__search {
    display: flex;
    align-items: center;
    width: 364px;
    height: 48px;
    margin-left: 8px;
    background-color: #242424;
    border-radius: 500px;
    border: 1px solid transparent;
}

.header__search img{
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.header__search input {
    background: transparent;
    border: none;
    padding: 0 100px 0 12px;
    color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
}

.header__login .subscribe {
    color: #a7a7a7;
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    margin-right: 32px;
    border: none;
    cursor: pointer;
}

.header__login .login {
    width: 100px;
    height: 48px;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    border-radius: 40px;
    border: none;
}

.subscribe:hover {
    transform: scale(1.03);
    color: #fff;
}

.login:hover {
    transform: scale(1.03);
    cursor: pointer;
}

/* PLAYLIST */
.center-container {
    /*height: 72vh;*/
    /*padding-top: 1rem;*/
    /*margin: 1.25rem; /* 20px para rem */
    /*border-radius: 0.625rem; /* 10px para rem */
    /*background-color: #121212;*/
    margin-left: 310px;
    margin-right: 0;
    margin-top: 12px;
}
  
.texto {
    /*padding: 28px 0 10px 8px;
    height: 100px;
    position: fixed;
    margin-left: 310px;
    margin-right: 0;
    margin-top: 12px;
    background-color: red;*/
    padding: 40px 0 10px 42px;
    margin: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #121212;
    position: fixed;
    top: 96px;
    left: 310px;
    height: 25.5vh;
    width: 153.4vh;
    margin-right: 10px;
    padding-left: 25px;
}
  
.texto #greeting {
    color: var(--text-base-light);
    font-size: 2rem; /* 32px para rem */
    font-weight: 700;
    margin-bottom: 3rem; /* 48px para rem */
}
  
.texto .session {
    color: var(--text-base-light);
    font-size: 1.5rem; /* 24px para rem */
    font-weight: 700;
}
  
/* SCROLL */
.images_playlist {
    /*max-height: 52vh;*/
    /*margin: 3rem; /* 24px para rem */
    /*overflow-y: auto;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 16px;
    margin: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #121212;
    position: fixed;
    top: 96px;
    left: 310px;
    height: 43.5vh;
    width: 152.3vh;
    margin-right: 10px;
    /*overflow-y: auto;*/
    margin-top: 170px;
    padding-top: 0;
    max-width: 90%;
    overflow: scroll;
    scrollbar-color: transparent transparent;
}
  
.images_playlist::-webkit-scrollbar {
    width: 0.0625rem; /* 1px para rem */
}
  
/* Thumb */
.images_playlist::-webkit-scrollbar-thumb {
    background-color: transparent;
}
/* FIM SCROLL */
  
.wrapper {
    display: grid; /* define o modelo de layout do elemento como uma grade */
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;  /* número de colunas na grade e a largura de cada coluna */
    gap: 1rem;
    margin-bottom: 1rem;
    margin-top: 10px;
}
  
.cards {
    position: relative;
    width: 13.75rem; /* 220px para rem */
    height: 12.5rem; /* 200px para rem */
    overflow: hidden;
    border-radius: 0.5rem; /* 8px para rem */
}
  
.cards span {
    padding: 1rem; /* 16px para rem */
    position: absolute;
    color: var(--text-base-light);
    font-size: 1.5rem; /* 24px para rem */
    font-weight: 700;
}
  
/* COLOR CARDS/ POSIÇÃO DAS IMAGENS*/
.card1 {
    background-color: rgb(0, 100, 80);
    color: #fff;
}

.cards img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 107px;
    width: auto;
    transform: rotate(25deg) translate(18%, -2%);
}

.card2 {
    background-color: rgb(132, 0, 231);
    color: #fff;
}

.card3 {
    background-color: rgb(30, 50, 100);
    color: #fff;
}

.card4 {
    background-color: rgb(140, 25, 50);
    color: #fff;
}

.card5 {
    background-color: rgb(232, 17, 91);
    color: #fff;
}

.card6 {
    background-color: rgb(83, 122, 161);
    color: #fff;
}

.card7 {
    background-color: rgb(142, 102, 172);
    color: #fff;
}

.card8 {
    background-color: rgb(20, 138, 8);
    color: #fff;
}

.card9 {
    background-color: rgb(30, 50, 100);
    color: #fff;
}

.card10 {
    background-color: rgb(233, 20, 41);
    color: #fff;
}

.card11 {
    background-color: rgb(80, 55, 80);
    color: #fff;
}

.card12 {
    background-color: rgb(216, 64, 0);
    color: #fff;
}

.card13 {
    background-color: rgb(186, 93, 7);
    color: #fff;
}

.card14 {
    background-color: rgb(0, 30, 80);
    color: #fff;
}

.card15 {
    background-color: rgb(60, 30, 80);
    color: #fff;
}

/* CARD ARTISTA */

/*.artist {
    --column-count: 5;
    --grid-gap: 24px;
    --min-container-width: 372px;
    background-color: red;
  }*/
  
  .hidden {
    display: none;
  }
  
  .grid-container {
    grid-gap: var(--grid-gap);
    display: grid;
    grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));
    min-width: var(--min-container-width);
  }
  
  .artist-card {
    background: #181818;
    border-radius: 8px;
    -ms-flex: 1;
    flex: 1;
    padding: 16px;
    transition: background-color 0.3s ease;
    display: grid;
    width: 982px;
    height: 418px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /*margin-left: 280px;*/
    padding: 40px 0 0 46px;
    margin: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: fixed;
    top: 96px;
    left: 310px;
    margin-right: 10px;
  }
  
  .card-img:hover {
    background-color: #252525;
    height: 260px;
    border-radius: 10px;
  }

  .card-img {
    background-color: #202020;
    height: 260px;
    border-radius: 10px;
  }

  .grid-container .artist-card .card-img img{
    height: 154px;
    width: 154px;
    margin-bottom: 16px;
    position: relative;
    margin-left: 20px;
    margin-top: 15px;
  }
  
  /*.artist-img {
    padding-bottom: 100%;
    position: relative;
    width: 200px;
    height: 5px;
    margin-bottom: 16px;
  }*/
  
  .artist-img {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 50%;
  }
  
  .card-text {
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-top: 215px;
    position: fixed;
    top: 120px;
    left: 382px;
  }
  
  .card-text a {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
  }
  
  .artist-name {
    box-sizing: border-box;
    margin-block: 0px;
    font-size: 16px;
    font-weight: 700;
    padding-block-end: 8px;
  }
  
  .artist-categorie {
    color: #6a6a6a;
    font-weight: 400;
    font-size: 0.875rem;
  }
  
  .play {
    position: fixed;
    margin-left: 180px;
    bottom: 373px;
  }
  
  .play .fa-play {
    position: absolute;
    right: 10px;
    padding: 18px;
    background-color: #1db954;
    border-radius: 100%;
    font-size: 14px;
    opacity: 0;
    transition: all ease 0.4s;
  }
  
  .card-img:hover .play .fa-play {
    opacity: 1;
    transform: translateY(-20px);
  }
  
  .play .fa-play:hover {
    padding: 20px;
    cursor: pointer;
  }
  
  #result-artist {
    padding: 20px 40px;
    margin-top: 0;
  }
  /* FIM CARD ARTISTA */
  